/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #c75d28, #2373e2);
}

.calculator {
  border: 1px solid #717377;
  padding: 20px;
  border-radius: 16px;
  background: linear-gradient(45deg, #ff7ac5, #bb2f2f);
  box-shadow: 24px 20px 12px rgba(0, 0, 0, 0.5);
}

input {
  width: 320px;
  border: none;
  padding: 24px;
  margin: 10px;
  box-shadow: 5px 3px 15px rgbs(84, 84, 84, 0.1);
  font-size: 40px;
  text-align: right;
  cursor: pointer;
  color: #4b3535;
  border-radius: 1rem;
}

/* the appearance will change depending on if the input has an inactive or active class  */
input.active {
  background: rgb(250, 238, 238);
}
input.inactive {
  background: linear-gradient(45deg, #0a0125, #3e4b38);
}
input.inactive::placeholder {
  color: transparent;
}
input.active::placeholder {
  color: #c3c3c3;
}

button {
  border: none;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  background: transparent;
  color: #ffffff;
  font-size: 20px;
  box-shadow: 12px -8px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.equalBtn {
  background-color: #df4161;
}

.operator {
  color: #47ff0f;
  font-weight: bolder;
}

.special {
  color: rgb(255, 255, 255);
  width: 120px;
  border-radius: 25%;
}

.button:hover {
  background-color: #fc2b6d;
}
p {
  text-align: center;
  color: white;
}

.sidediv {
  margin-left: 10%;
}

.sidediv .logo {
  margin-bottom: 2px;
  display: inline-block;
}

.sidediv span {
  display: inline-block;
  top: 3.5rem;
  color: white;
  position: relative;
  margin-left: 2rem;
}

#deploy {
  margin-left: 4.5rem;
}

#netlify-logo {
  width: 210px;
  position: relative;
  bottom: 3.5em;
  left: 2em;
}

#github-logo {
  width: 200px;
  position: relative;
}

#netlify-logo:hover,
#github-logo:hover {
  cursor: pointer;
  transform-origin: left top;
  animation: scale 300ms ease-in-out forwards;
}

/* this serves as the animation to scale logos up when hoevered */
@keyframes scale {
  to {
    transform: scale(1.05);
  }
}
#side-title {
  font-family: 'Damion', cursive;
  text-align: right;
  color: white;
  font-size: 6rem;
}
