@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #c75d28, #2373e2);
}

.calculator {
  border: 1px solid #717377;
  padding: 20px;
  border-radius: 16px;
  background: linear-gradient(45deg, #ff7ac5, #bb2f2f);
  box-shadow: 24px 20px 12px rgba(0, 0, 0, 0.5);
}

input {
  width: 320px;
  border: none;
  padding: 24px;
  margin: 10px;
  box-shadow: 5px 3px 15px rgbs(84, 84, 84, 0.1);
  font-size: 40px;
  text-align: right;
  cursor: pointer;
  color: #4b3535;
  border-radius: 1rem;
}

input.active {
  background: rgb(250, 238, 238);
}
input::placeholder {
  color: #c3c3c3;
}

button {
  border: none;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  background: transparent;
  color: #ffffff;
  font-size: 20px;
  box-shadow: 12px -8px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.equalBtn {
  background-color: #df4161;
}

.operator {
  color: #47ff0f;
  font-weight: bolder;
}

.special {
  color: rgb(255, 255, 255);
  width: 120px;
  border-radius: 25%;
}

.button:hover {
  background-color: #fc2b6d;
}
p {
  text-align: center;
  color: white;
}

#github {
  margin-left: 10%;
}

#github img {
  width: 40px;
}

#github span {
  margin-left: 0.5em;
  font-size: larger;
  color: white;
  position: relative;
  bottom: 0.8rem;
}
